{% extends 'base.html' %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Update info</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Ecom-Django</p>
        </div>
    </div>

</header>
<div class="container">

    <form method="post" action="{% url 'update_info' %}">
        {% csrf_token %}
         <h3 class="text-secondary my-2">Billing information</h3>
        <br>
        {{ form.as_p }}
        <br>
        <br>
         <h3 class="text-secondary my-2">Shipping information</h3>
        {{ shipping_form.as_p }}

        <button type="submit" class="btn btn-secondary">Update Profile</button>

    </form>
    <br>
    <br>

</div>
{% endblock %}